---
layout: base
---

<header>
  <img src='{{ site.baseurl }}/assets/img/mainLogo.png' alt="Logo designed by: Kousik Roy" />
  <nav role='navigation'>
    <ul>
      <li><a href='{{ site.baseurl }}/videos'>All Videos</a></li>
      &bull;
      <li><a href='http://amrsekilly.com'>About</a></li>
    </ul>
  </nav>
</header>

<ul class='videos'>
  <!-- getting the newest first -->
  {% assign videos = site.videos | reverse %}
  <!-- displaying only 3 videos to fit on a row -->
  {% for video in videos | limit: 3 %}
  <li>
    <a href='{{ site.baseurl }}{{ video.url }}'>
      <h3>{{ video.title }}</h3>
      <time>{{ video.date | date: '%b %d, %Y'}}</time>
      <!-- get the thumbnail of the video from YouTube -->
      <img src='https://img.youtube.com/vi/{{ video.youtube_id }}/hqdefault.jpg' />
    </a>
  </li>
  {% endfor %}
</ul>

<nav>
  <ul>
    <li>
      <a href='{{ site.youtube }}' target='_blank'>
      <img src='{{ site.baseurl }}/assets/img/youtube.png' />
      </a>
    </li>
    <li>
      <a href='{{ site.twitter }}' target='_blank'>
      <img src='{{ site.baseurl }}/assets/img/twitter.png' />
      </a>
    </li>
  </ul>
</nav>
