<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <meta name='description' content='{{ site.description }}' />
  <link rel='canonical' href='{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html','' }}'>
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />

  <title>
    {{ site.name }}
    {% if page.title %}| {{ page.title }}{% endif %}
  </title>

  <link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/assets/app.css' />
  <link href='//fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
      var host = "zero2dev.com";
  if ((host == window.location.host) && (window.location.protocol != 'https:')) {
    window.location = window.location.toString().replace(/^http:/, "https:");
  }
  </script>

  <!--[if lte IE 8]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
